*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: darkcyan;
    
    text-align: center;


}
h1{
    color: white;
    margin-top: 2%;
}

.container{
height: 70vh;
margin: 2%;
display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    font-size: 8vmin;
    color: rgb(179, 74, 74);
}

#rst{

    padding: 1rem;
   background-color: rgb(148, 134, 134);
    color: white;
    border: none;
    
    border-radius: 1rem;

}

#rst:hover{
transform: scale(1.1);
}

.box:hover{
    background-color: rgb(186, 186, 186);

}

#New{
    margin-top: 2%;
    padding: 1rem;
   background-color: rgb(148, 134, 134);
    color: white;
    border: none;
    
    border-radius: 1rem;
}

#New:hover{
transform: scale(1.1);
}

.hide{
    display: none;
}